@import 'main.less';
@import 'variables.less';
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.image-size {
  border-radius: 75px;
  float: left;
}
.container {
  margin: 200px 500px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2 {
  margin: 20px 0;
  text-transform: uppercase;
}
.hr {
  border: 2px solid #ededed;
}
.gray {
  background-color: #ededed;
}
.container {
  max-width: 1000px;
  min-width: 500px;
  margin: auto;
  background-color: #fff;
  padding: 0 20px 20px;
}
.container header {
  text-align: center;
  margin-top: 100px;
}
.container header h1 {
  margin: 20px;
}

.container main {
  margin: 20px;
}
.container main h2 {
  color: #ec7263;
}
.container main > section #educations section {
  margin: 20px 0;
}
.container main > section #educations section:last-of-type {
  margin: 0;
}
.container main > section #educations section > h3 {
  float: left;
  width: 100px;
}
.container main > section #educations section div {
  margin-left: 100px;
  padding: 10px;
}
.container main > section #educations section div h3 {
  padding-bottom: 10px;
}
